# Files with results

meqtl_epic_database/resources/ld_clump_assoc.txt
meqtl_epic_database/resources/top_assoc.txt
meqtl_epic_database/resources/Skin_TwinsUK_All_FDR_5_percent_significant_Cis_meQTL_SNPs.txt.gz
meqtl_epic_database/resources/skin_cond_assoc.txt


# Cache

meqtl_epic_database/app_cache/
